<h1>All Images</h1>

<%= link_to "Create an Image", new_admin_image_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Image</th>
    <th>Actions</th>
  </tr>
  <% @images.each do |image| %>
    <tr>
      <td><h3><%= link_to image.title, admin_image_path(image) %></h3></td>
      <td><img src="<%= "#{image.url}" %>" height= "200" width = "200">
      <td>
        <%= link_to "Edit", edit_admin_image_path(image) %> |
        <%= link_to "Destroy", admin_image_path(image), method: :delete %>
      </td>
    </tr>
    <% end %>
  </table>
